<!doctype html>
<html lang="de">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>
    {% block title %}
    {% if title %}{{ title }} - {% endif %}PeP DB
    {% endblock %}
    </title>

    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>

    {% endblock %}

    {% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% block navigation %}
      {% include "navbar.html" %}
    {% endblock %}

    {% block header %}
    <header class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message | safe }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </header>
    {% endblock %}

    <main class="container mb-3">
      {% block main %}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "base_footer.html" %}
    {% endblock %}

    {{ bootstrap.load_js() }}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
