{% extends "base.html" %}

{% block main %}
<h1>PeP et al. Datenbank</h1>
<p>Herzlich willkommen bei der Datenbank von PeP et al.!</p>

<p>Hier können Sie Mitglied in unserem Verein werden oder sich zu unseren Veranstaltungen anmelden.</p>
<p>Ebenso können Sie hier Ihre Daten aktualisieren und eine Auskunft der von uns über Sie gespeicherten Daten erhalten.</p>
<p>Wenn Sie mehr über unseren Verein erfahren möchten, können Sie sich auf unserer <a href="https://pep-dortmund.org/">Homepage</a> informieren. Für Rückfragen stehen wir Ihnen selbstverständlich gerne zur Verfügung.</p>
{% endblock %}
