{% extends "base.html" %}

{% block main %}
<h1>PeP et al. Datenbank</h1>
<p>Herzlich willkommen bei der Datenbank von PeP et al.!</p>

<p>Hier kannst du Mitglied in unserem Verein werden oder dich zu unseren
Veranstaltungen anmelden.</p>
<p>Ebenso kannst du hier deine Daten aktualisieren und eine Auskunft der von
uns über dich gespeicherten Daten erhalten.</p>
<p>Wenn du mehr über unseren Verein erfahren willst, schau dich auf unserer <a href="https://pep-dortmund.org/">Homepage</a> um.</p>
{% endblock %}
