{% extends "base.html" %}

{% block app_content %}
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Absage der Absolventenfeier</h5>
    <p class="card-text">
    Liebe Absolventen und Absolventinnen des Jahrgangs 2019,

    wie Sie alle sicherlich mitbekommen haben,
    sind viele Veranstaltungen abgesagt worden,
    um die weitere Ausbreitung des Corona Virus zu mindern.
    Auch wir, die Fakultät Physik und PeP et al.,
    haben uns nach langer Überlegung und schweren Herzens dazu entschlossen,
    die für den 21.03.2020 geplante Absolventenfeier abzusagen.

    Wir werden uns natürlich um einen Ersatztermin bemühen und Sie erneut einladen, sobald Ort und Zeit feststehen.
    </p>
  </div>
</div>
{% endblock %}
