{% extends "base.html" %}
{% block main %}
  <h1>Mitgliedsantrag</h1>

  <p>Vielen Dank, dass Sie Mitglied des Studierenden- und Alumnivereins PeP et al. werden möchten. Nach erfolgreicher Anmeldung halten wir Sie per E-Mail über aktuelle Termine und Aktivitäten auf dem Laufenden.
</p>
  <p>Der jährliche Mitgliedsbeitrag beträgt 10€ für Promovierende bzw. 25€ für Alumni. Sie können uns aber auch gerne durch eine größere Spende und aktive Mitarbeit unterstützen. Für Studierende ist die Mitgliedschaft kostenlos.
</p>

<p>Um Mitglied zu werden, melden Sie sich hier an. Nachdem Sie Ihre E-Mail Adresse über einen Bestätigungs-Link verifiziert haben, können Sie freigeschaltet werden:</p>

{% from 'bootstrap4/form.html' import render_form %}
{{ render_form(form, method='POST', action=action) }}

{% endblock %}
