<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
  <a class="navbar-brand" href="{{ url_for("main.index") }}"><img src="{{ url_for('static', filename="logo_datenbank.svg") }}"></a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == url_for("main.register") %}active{% endif %}">
        <a class="nav-link" href="{{ url_for("main.register" )}}">Mitglied werden</a>
      </li>
      <li class="nav-item {% if request.path == url_for("events.index") %}active{% endif %}">
        <a class="nav-link" href="{{ url_for("events.index" )}}">Veranstaltungen</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Meine Daten
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for("main.request_edit") }}">Persönliche Daten ändern</a>
          <a class="dropdown-item" href="{{ url_for("main.request_gdpr_data") }}">Alle meine Daten anfordern (DSGVO)</a>
          <a class="dropdown-item" href="{{ url_for("main.request_sepa") }}">SEPA Lastschriftmandat erteilen oder ändern</a>
        </div>
      </li>

      {% if current_user.is_authenticated %}
      <li class="nav-item {% if "admin" in request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url_for("admin.index" )}}">Admin</a>
      </li>
      {% endif %}

      {% if current_user.has_access("member_management") %}
      <li class="nav-item {% if request.path == url_for("main.applications") %}active{% endif %}">
        <a class="nav-link" href="{{ url_for("main.applications" )}}">Mitgliedsanträge</a>
      </li>
      {% endif %}
    </ul>

    {% if current_user.is_authenticated %}
    <span class="navbar-text ml-auto mr-3">
      Logged in as {{ current_user.username }}
    </span>
    <form class="form form-inline" action="{{ url_for('auth.logout') }}" method="POST">
      <input class="btn btn-primary" type="submit" value="Logout"/>
    </form>
    {% else %}
      <a class="btn btn-primary" href="{{ url_for('auth.login_page', next=request.full_path) }}">Login</a>
    {% endif %}
  </div>
</nav>
