Steven Becker <beckstev@web.de> beckstev <beckstev@web.de>
Steven Becker <beckstev@web.de> Steven <beckstev@web.de>

Stefan Grisard <stefan.grisard@tu-dortmund.de> stefangri <stefan.grisard@tu-dortmund.de>

Kevin Heinicke <kevin@kehei.de> Kevin <kevin@kehei.de>

Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Maximilian Nöthe <maximilian.noethe@tu-dortmund.de>

Lena Linhoff <lena.linhoff@tu-dortmund.de> lena-lin <lena.linhoff@tu-dortmund.de>

Henning Moldenhauer <henning.moldenhauer@tu-dortmund.de> hmoldenhauer <hmoldenhauer@users.noreply.github.com>
Henning Moldenhauer <henning.moldenhauer@tu-dortmund.de> hmoldenhauer <henning.moldenhauer@udo.edu>

Marie Schmitz <marie.schmitz@tu-dortmund.de> Marie <marschmitz>
