# e.g. "sqlite:////home/maxnoe/pepdb.sqlite"
export DATABASE_URL="sqlite:///<add an absolute path here>"
export SERVER_NAME=""
export USE_HTTPS=true
export SECRET_KEY=''

export MAIL_SENDER=''
export MAIL_SERVER=''
export MAIL_PORT=587
export MAIL_TLS=true
export MAIL_USERNAME=''
export MAIL_PASSWORD=''

export APPROVE_MAIL=''
