# vim: set syntax=bash:
# PEPDB example configuration

# basic settings
export PEPDB_SECRET_KEY='changeme'
export PEPDB_DEBUG=1
# export PEPDB_ALLOWED_HOSTS=""


# Database Connection
# export PEPDB_DB_ENGINE="django.db.backends.postgresql"
# export PEPDB_DB_NAME="pepdb"
# export PEPDB_DB_USER="pepdb"
# export PEPDB_DB_PASSWORD=""
# export PEPDB_DB_HOST="db"
# export PEPDB_DB_PORT=""

# Email config
export PEDB_EMAIL_HOST=''
export PEDB_EMAIL_PORT=''
export PEDB_EMAIL_USER=''
export PEDB_EMAIL_PASSWORD=''
# export PEPDN_EMAIL_USE_TLS=''
# export PEPDN_EMAIL_USE_SSL=''


# Locale Settings
# export PEPDB_LANGUAGE_CODE="de-de"
# export PEPDB_TIME_ZONE="Europe/Berlin"
