[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-mail = "*"
python-dotenv = "*"
flask-login = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-babel = "*"

[dev-packages]
ipython = "*"
httpie = "*"
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.7"
