{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - Mitgliederverwaltung{% else %}PeP et. al. Mitgliederverwaltung{% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    ... navigation bar here (see complete code on GitHub) ...
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}
      {% if current_user.is_authenticated %}
        Logged in as {{ current_user.username }}
      {% else %}
        Not logged in
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
