<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Mitgliederverwaltung</title>
    {% else %}
    <title>PeP et. al. Mitgliederverwaltung</title>
    {% endif %}
  </head>
  <body>

    {% with messages = get_flashed_messages(with_category=True) %}
    {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% if current_user.is_authenticated %}
      Logged in as {{ current_user.username }}
    {% else %}
      Not logged in
    {% endif %}
  </body>
</html>
