{% extends "base.html" %}
{% block main %}

  <h1>PeP et al. Veranstaltungsanmeldungen</h1>

  {% if events %}
  <p>Aktuell kannst du dich für folgende Veranstaltungen anmelden

  <ul class="list-group">
    {% for event in events %}
    <a class="list-group-item"
       href="{{ url_for('events.registration', event_id=event.id)}}"
      >
      {{ event.name }}

      {% if event.max_participants is not none %}
      <span class="badge badge-info float-right">
        {{ event.max_participants - event.n_participants }} freie Plätze
      </span>
      {% endif %}
    </a>
    {% endfor %}
  </ul>
  {% endif %}

  <p>

  {% if full_events %}
  <p>Folgende Veranstaltungen sind bereits ausgebucht, aber
  du kannst dich auf unserer Warteliste eintragen:
    {% for event in full_events %}
    <a class="list-group-item"
       href="{{ url_for('events.registration', event_id=event.id)}}"
      >
      {{ event.name }}
    </a>
    {% endfor %}
  {% endif %}

  {% if full_events or events %}
  <p> Falls du dich bereits für eine Veranstaltung angemeldet hast,
  aber keine Email bekommen hast, sie nicht mehr findest oder den Abmeldungsllink suchst, kannst du sie <a href="{{ url_for('events.resend_emails') }}">
  hier erneut anfordern</a>.
  {% endif %}

  {% if not events and not full_events %}
  Es gibt zur Zeit keine Veranstaltungen.
  {% endif %}

  {% if current_user.is_authenticated and closed_events %}
  <p>Veranstaltungen, für die keine Anmeldung (mehr) möglich ist:
  <ul class="list-group">
    {% for event in closed_events %}
    <a class="list-group-item"
       href="{{ url_for('events.registration', event_id=event.id)}}"
      >
      {{ event.name }}
    </a>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
