{% extends "base.html" %}
{% block main %}

  <h1>Teilnehmer {{ event.name }}</h1>

  <table class="table">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      {% for k in event.registration_schema['properties'].keys() %}
      <th scope="col">{{ k }}</th>
      {% endfor %}
      <th scope="col">S</th>
    </thead>
    <tbody>
      {% for participant in participants %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td> {{ participant.data.get('name', participant.person.name) }} </td>
        <td> {{ participant.person.email }} </td>
        {% for k in event.registration_schema['properties'] %}
        <td>{{ participant.data[k] }}</td>
        {% endfor %}
        <td>
          {% if participant.status_name == "confirmed" %}
          ✓
          {% elif participant.status_name == "waitinglist" %}
          🕑
          {% elif participant.status_name == "pending" %}
          ⌛
          {% elif participant.status_name == "canceled" %}
          ✗
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}

