{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
<script defer src="{{ url_for('static', filename='js/latex_widget.js') }}"></script>



{% endblock styles %}
{% from 'bootstrap4/form.html' import render_form %}
{% block main %}

  {% if current_user.has_access("get_participants") %}
    <a class="btn btn-primary" href="{{ url_for('events.participants', event_id=event.id) }}">Zu den Teilnehmenden</a>
  {% endif %}

  <h1>Anmeldung {{ event.name }}</h1>

  <p> Falls du dich bereits für diese Veranstaltung angemeldet hast,
  aber keine Email bekommen hast, kannst du sie <a href="{{ url_for('events.resend_emails') }}">
  hier erneut anfordern</a>.

  {% if free_places %}
  <div class="alert alert-success">
    Es sind noch {{ free_places }} Plätze verfügbar.
  </div>
  {% endif %}

  {% if booked_out and registration is none %}
  <div class="alert alert-warning" role="alert">
    Diese Veranstaltung ist bereits ausgebucht.
    Wenn du dich anmeldest, wirst du auf die Warteliste eingetragen.
  </div>
  {% endif %}

  {% if registration is not none and registration.status == "waitinglist" %}
  <div class="alert alert-warning" role="alert">
    Diese Veranstaltung ist bereits ausgebucht.
    Du befindest dich auf der Warteliste.
  </div>
  {% endif %}

  <p>{{ event.description|safe }}</p>


  {{ render_form(form, method='POST', action=submit_url, button_map={'submit': 'primary'}) }}

  {% if event.footer is not none %}
  <div class="event-footer">
  {{ event.footer|safe }}
  </div>
  {% endif %}


{% endblock %}
